Repository xiaomi-mt6885-devs/pmaports_cezanne: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wiki, flake8, kernel-kconfig

.gitlab-ci.yml:

---

# global settings
image: alpine:latest
after_script:
  - .ci/lib/move_logs.sh $CI_PROJECT_DIR
stages:
  - lint
  - build

# defaults for "only"
# We need to run the CI jobs in a "merge request specific context", if CI is
# running in a merge request. Otherwise the environment variable that holds the
# merge request ID is not available. This means, we must set the "only"
# variable accordingly - and if we only do it for one job, all other jobs will
# not get executed. So have the defaults here, and use them in all jobs that
# should run on both the master branch, and in merge requests.
# https://docs.gitlab.com/ee/ci/merge_request_pipelines/index.html#excluding-certain-jobs
.only-default: &only-default
  only:
    - master
    - merge_requests
    - tags

# device documentation
wiki:
  stage: lint
  <<: *only-default
  only:
    refs:
      - merge_requests
    changes:
      - device/*/device-*/*
  script:
    - .ci/lib/gitlab_prepare_ci.sh
    - .ci/wiki.sh

# testcases linting
flake8:
  stage: lint
  <<: *only-default
  only:
    refs:
      - merge_requests
    changes:
      - .ci/*
      - .ci/*/*
  before_script:
    - apk -q add py-flake8
  script:
    - .ci/lib/gitlab_prepare_ci.sh
    - .ci/flake8.sh

# shellcheck and various grep checks
shellcheck-grep:
  stage: lint
  <<: *only-default
  image: alpine:edge
  script:
    - .ci/lib/gitlab_prepare_ci.sh
    - .ci/shellcheck.sh
    - .ci/grep.sh

editor-config:
  stage: lint
  <<: *only-default
  image: alpine:edge
  script:
    - .ci/lib/gitlab_prepare_ci.sh
    - .ci/ec.sh

# aports checks (generic)
pytest-commits:
  stage: lint
  <<: *only-default
  script:
    - .ci/lib/gitlab_prepare_ci.sh
    - .ci/pytest.sh
    - .ci/commits.sh
  artifacts:
    when: on_failure
    paths:
      - log.txt
      - log_testsuite_pmaports.txt
      - pmbootstrap.cfg
    expire_in: 1 week

# APKBUILD linting
aport-lint:
  stage: lint
  script:
    - .ci/lib/gitlab_prepare_ci.sh
    - .ci/apkbuild-lint.sh
  only:
    - merge_requests
  allow_failure: true

# kernel kconfig check
kernel-kconfig:
  stage: lint
  only:
    refs:
      - master
      - merge_requests
    changes:
      - device/*/linux-*/config-*
      - main/linux-*/config-*
  script:
    - .ci/lib/gitlab_prepare_ci.sh
    - .ci/kconfig.sh

# MR settings
# (Checks for "Allow commits from members who can merge to the target branch")
mr-settings:
  stage: lint
  only:
    - merge_requests
  before_script:
    - apk -q add python3
  script:
    - wget -q "https://gitlab.com/postmarketOS/ci-common/-/raw/master/check_mr_settings.py"
    - python3 ./check_mr_settings.py

# build changed aports
.build:
  stage: build
  <<: *only-default
  before_script:
    - .ci/lib/gitlab_prepare_ci.sh
  after_script:
    - cp -r /home/pmos/.local/var/pmbootstrap/packages/ packages/ || true
  artifacts:
    expire_in: 1 week
    paths:
      - packages/
  timeout: 10 h

build-x86_64:
  extends: .build
  script:
    - .ci/build-x86_64.sh

build-x86:
  extends: .build
  script:
    - .ci/build-x86.sh

build-aarch64:
  extends: .build
  script:
    - .ci/build-aarch64.sh

build-armv7:
  extends: .build
  script:
    - .ci/build-armv7.sh

build-armhf:
  extends: .build
  script:
    - .ci/build-armhf.sh

build-riscv64:
  extends: .build
  script:
    - .ci/build-riscv64.sh

pmos-base-ui: re-enable DNS filtering
  .ci/shellcheck.sh
  main/postmarketos-base-ui/APKBUILD
  main/postmarketos-base-ui/rootfs-usr-lib-NetworkManager-dispatcher.d-50-dns-filter.sh
Due: flake8

device-pine64-pinebookpro: add display modules to initfs
  device/community/device-pine64-pinebookpro/APKBUILD
  device/community/device-pine64-pinebookpro/modules-initfs
Due: wiki

linux-postmarketos-rockchip: upgrade to 6.8
  device/community/linux-postmarketos-rockchip/APKBUILD
  device/community/linux-postmarketos-rockchip/config-postmarketos-rockchip.aarch64
Due: kernel-kconfig

samsung-{fortuna,rossa}: rename devices
  device/testing/device-samsung-grandprimelte/APKBUILD
  device/testing/device-samsung-grandprimelte/deviceinfo
  device/testing/device-samsung-grandprimelte/modules-initfs
  device/testing/device-samsung-rossa/APKBUILD
  device/testing/device-samsung-rossa/deviceinfo
  device/testing/device-samsung-rossa/modules-initfs
  device/testing/device-samsung-rossa/phoc.ini
  device/testing/firmware-samsung-grandprimelte/APKBUILD
  device/testing/firmware-samsung-rossa/APKBUILD
Due: wiki

CI: port to rules
  .gitlab-ci.yml
Due: none

testing/linux-next: new aport
  CODEOWNERS
  device/testing/linux-next/APKBUILD
  device/testing/linux-next/devices.config
  device/testing/linux-next/pmos.config
Due: none

CI: implement scheduled auto-update pipeline
  .ci/autoupdate.sh
  .gitlab-ci.yml
Due: flake8

testing/device-postmarketos-trailblazer
  CODEOWNERS
  device/testing/device-postmarketos-trailblazer/APKBUILD
  device/testing/device-postmarketos-trailblazer/deviceinfo
  device/testing/device-postmarketos-trailblazer/modules-initfs
Due: wiki

samsung-q1: new device
  CODEOWNERS
  device/testing/device-samsung-q1/APKBUILD
  device/testing/device-samsung-q1/deviceinfo
  device/testing/firmware-samsung-q1/APKBUILD
Due: wiki

Draft: samsung-gtexswifi: new device
  device/testing/device-samsung-gtexswifi/APKBUILD
  device/testing/device-samsung-gtexswifi/deviceinfo
  device/testing/linux-samsung-gtexswifi/APKBUILD
  device/testing/linux-samsung-gtexswifi/config-samsung-gtexswifi.armv7
  device/testing/linux-samsung-gtexswifi/fix_recordmcount.patch
  device/testing/linux-samsung-gtexswifi/gcc10-extern_YYLOC_global_declaration.patch
  device/testing/linux-samsung-gtexswifi/gcc7-give-up-on-ilog2-const-optimizations.patch
  device/testing/linux-samsung-gtexswifi/gcc8-fix-put-user.patch
  device/testing/linux-samsung-gtexswifi/kernel-use-the-gnu89-standard-explicitly.patch
  device/testing/linux-samsung-gtexswifi/linux3.4-ARM-8933-1-replace-Sun-Solaris-style-flag-on-section.patch
  device/testing/linux-samsung-gtexswifi/linux3.4-fix-piggy.gzip.S.patch
Due: wiki, kernel-kconfig

fix deviceinfo
  device/testing/device-samsung-gtexswifi/deviceinfo
Due: wiki

spreadtrum stuff
  device/testing/device-samsung-gtexswifi/APKBUILD
  device/testing/linux-samsung-gtexswifi/00_fix_return_address.patch
  device/testing/linux-samsung-gtexswifi/APKBUILD
  device/testing/linux-samsung-gtexswifi/fix-dts.patch
  device/testing/linux-samsung-gtexswifi/sprdfb-check-for-buffering.patch
  device/testing/linux-samsung-gtexswifi/sprdfb-fix-swapped-colors.patch
Due: wiki

testing/firmware-bes2600: new firmware package
  device/testing/firmware-bes2600/APKBUILD
Due: none

pine64-pinetab2: new device
  device/testing/device-pine64-pinetab2/APKBUILD
  device/testing/device-pine64-pinetab2/deviceinfo
  device/testing/linux-pine64-pinetab2/APKBUILD
  device/testing/linux-pine64-pinetab2/config-pine64-pinetab2.aarch64
Due: wiki, kernel-kconfig

linux-postmarketos-allwinner: add patch to fix GPU misbehavior
  device/main/linux-postmarketos-allwinner/0013-Pinephone-video-out-fixes-flipping-between-two-frame.patch
  device/main/linux-postmarketos-allwinner/APKBUILD
Due: none
