Repository xiaomi-mt6885-devs/pmaports_cezanne: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wiki, flake8, kernel-kconfig

wiki:
  stage: lint
  script:
  - .ci/lib/gitlab_prepare_ci.sh
  - .ci/wiki.sh

flake8:
  stage: lint
  before_script:
  - apk -q add py-flake8
  script:
  - .ci/lib/gitlab_prepare_ci.sh
  - .ci/flake8.sh

kernel-kconfig:
  stage: lint
  script:
  - .ci/lib/gitlab_prepare_ci.sh
  - .ci/kconfig.sh

Apply 1 suggestion(s) to 1 file(s)
  device/testing/device-samsung-gtexswifi/APKBUILD
Due: wiki

samsung-afyonltecan: add device
  device/testing/device-samsung-afyonltecan/APKBUILD
  device/testing/device-samsung-afyonltecan/deviceinfo
  device/testing/linux-samsung-afyonltecan/0001-fix-video-argb-setting.patch
  device/testing/linux-samsung-afyonltecan/0007-usb_gadget-set-random-rndis-host-MAC-address-to-prev.patch
  device/testing/linux-samsung-afyonltecan/APKBUILD
  device/testing/linux-samsung-afyonltecan/config-samsung-afyonltecan.armv7
  device/testing/linux-samsung-afyonltecan/fix_fb.patch
  device/testing/linux-samsung-afyonltecan/gcc10-extern_YYLOC_global_declaration.patch
  device/testing/linux-samsung-afyonltecan/gcc7-give-up-on-ilog2-const-optimizations.patch
  device/testing/linux-samsung-afyonltecan/gcc8-fix-put-user.patch
  device/testing/linux-samsung-afyonltecan/kernel-use-the-gnu89-standard-explicitly.patch
  device/testing/linux-samsung-afyonltecan/replace-Sun-Solaris-style-flag-on-section-xz-supplementation.patch
  device/testing/linux-samsung-afyonltecan/replace-Sun-Solaris-style-flag-on-section.patch
Due: wiki, kernel-kconfig

samsung-afyonltecan: update pkgrel
  device/testing/linux-samsung-afyonltecan/APKBUILD
Due: none

samsung-afyonltecan: [ci:skip-vercheck]
  device/testing/linux-samsung-afyonltecan/APKBUILD
Due: none

samsung-afyonltecan: remove deprecated lines in deviceinfo
  device/testing/device-samsung-afyonltecan/deviceinfo
Due: wiki

Apply 1 suggestion(s) to 1 file(s)
  device/testing/device-samsung-afyonltecan/APKBUILD
Due: wiki

samsung-afyonltecan: Revert 8th pkgrel [ci:skip-vercheck]
  device/testing/device-samsung-afyonltecan/APKBUILD
Due: wiki

samsung-afyonltecan: fix device checksums
  device/testing/device-samsung-afyonltecan/APKBUILD
Due: wiki

community/firmware-xiaomi-beryllium: drop board-2.bin
  device/community/firmware-xiaomi-beryllium/APKBUILD
Due: none

temp/hexagonrpcd: new aport (upgrade to v0.3.0)
  temp/hexagonrpcd/10-fastrpc.rules
  temp/hexagonrpcd/APKBUILD
  temp/hexagonrpcd/hexagonrpcd-adsp-rootpd.initd
  temp/hexagonrpcd/hexagonrpcd-adsp-sensorspd.initd
  temp/hexagonrpcd/hexagonrpcd-sdsp.initd
  temp/hexagonrpcd/hexagonrpcd.pre-install
  temp/hexagonrpcd/noshared.patch
Due: none

community/firmware-shift-sdm845: use new hexagonrpcd paths
  device/community/firmware-shift-sdm845/APKBUILD
  device/community/firmware-shift-sdm845/firmware.files
  device/community/firmware-shift-sdm845/sensors.files
Due: none

community/firmware-oneplus-sdm845: use new hexagonrpcd paths
  device/community/firmware-oneplus-sdm845/APKBUILD
  device/community/firmware-oneplus-sdm845/sensor.files
Due: none

linux-postmarketos-allwinner: re-add USB_QUIRK_RESET to patches
  device/main/linux-postmarketos-allwinner/0013-usb-quirks-Add-USB_QUIRK_RESET-for-Quectel-EG25G-Mod.patch
  device/main/linux-postmarketos-allwinner/APKBUILD
  device/main/linux-postmarketos-allwinner/config-postmarketos-allwinner.aarch64
  device/main/linux-postmarketos-allwinner/config-postmarketos-allwinner.armv7
Due: kernel-kconfig

linux-postmarketos-qcom-sc7180: upgrade to 6.6.28
  device/community/linux-postmarketos-qcom-sc7180/0001-drm-panel-edp-Add-enable-timings-for-N140HCA-EAC-pan.patch
  device/community/linux-postmarketos-qcom-sc7180/0001-remoteproc-qcom-pas-Add-sc7180-adsp.patch
  device/community/linux-postmarketos-qcom-sc7180/0002-arm64-dts-qcom-sc7180-Add-tertiary-mi2s-pinctrl.patch
  device/community/linux-postmarketos-qcom-sc7180/0002-drm-bridge-ti-sn65dsi86-Implement-wait_hpd_asserted.patch
  device/community/linux-postmarketos-qcom-sc7180/0003-arm64-dts-qcom-sc7180-Add-ADSP.patch
  device/community/linux-postmarketos-qcom-sc7180/0003-arm64-dts-qcom-sc7180-Don-t-enable-lpass-clocks-by-d.patch
  device/community/linux-postmarketos-qcom-sc7180/0004-ASoC-qcom-sc7180-Add-support-for-qdsp6-baked-sound.patch
  device/community/linux-postmarketos-qcom-sc7180/0004-arm64-dts-qcom-sc7180-Drop-redundant-disable-in-mdp.patch
  device/community/linux-postmarketos-qcom-sc7180/0005-arm64-dts-qcom-Add-Acer-Aspire-1.patch
  device/community/linux-postmarketos-qcom-sc7180/0005-arm64-dts-qcom-pm6150-Add-resin-and-rtc-nodes.patch
  device/community/linux-postmarketos-qcom-sc7180/0006-arm64-dts-qcom-acer-aspire1-Enable-RTC.patch
  device/community/linux-postmarketos-qcom-sc7180/0006-media-venus-core-Set-up-secure-memory-ranges-for-SC7.patch
  device/community/linux-postmarketos-qcom-sc7180/0007-arm64-dts-qcom-acer-aspire1-Add-sound.patch
  device/community/linux-postmarketos-qcom-sc7180/0007-arm64-dts-qcom-sc7180-Split-up-TF-A-related-PSCI-con.patch
  device/community/linux-postmarketos-qcom-sc7180/0008-platform-Add-ARM64-platform-directory.patch
  device/community/linux-postmarketos-qcom-sc7180/0009-platform-arm64-Add-Acer-Aspire-1-embedded-controller.patch
  device/community/linux-postmarketos-qcom-sc7180/0010-arm64-dts-qcom-acer-aspire1-Add-embedded-controller.patch
  device/community/linux-postmarketos-qcom-sc7180/0011-ASoC-qcom-sc7180-Map-missing-jack-kcontrols.patch
  device/community/linux-postmarketos-qcom-sc7180/0011-HACK-clk-Delay-disabling-unused-clocks-by-10s.patch
  device/community/linux-postmarketos-qcom-sc7180/0015-arm64-dts-qcom-acer-aspire1-Correct-audio-codec-defi.patch
  device/community/linux-postmarketos-qcom-sc7180/0017-HACK-arm64-dts-qcom-acer-aspire1-Enable-DisplayPort-.patch
  device/community/linux-postmarketos-qcom-sc7180/APKBUILD
  device/community/linux-postmarketos-qcom-sc7180/config-postmarketos-qcom-sc7180.aarch64
Due: kernel-kconfig

device-acer-aspire1: Enable DP in ucm config
  device/testing/device-acer-aspire1/APKBUILD
  device/testing/device-acer-aspire1/ucm/Acer-Aspire-1/Acer-Aspire-1.conf
Due: wiki

Path conditions:
  wiki: any of: device/*/device-*/*
  flake8: any of: .ci/*, .ci/*/*
  kernel-kconfig: any of: device/*/linux-*/config-*, main/linux-*/config-*
