Repository xiaomi-mt6885-devs/pmaports_cezanne: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wiki, flake8, kernel-kconfig

.gitlab-ci.yml:

---

# global settings
image: alpine:latest
after_script:
  - .ci/lib/move_logs.sh $CI_PROJECT_DIR
stages:
  - lint
  - build

# defaults for "only"
# We need to run the CI jobs in a "merge request specific context", if CI is
# running in a merge request. Otherwise the environment variable that holds the
# merge request ID is not available. This means, we must set the "only"
# variable accordingly - and if we only do it for one job, all other jobs will
# not get executed. So have the defaults here, and use them in all jobs that
# should run on both the master branch, and in merge requests.
# https://docs.gitlab.com/ee/ci/merge_request_pipelines/index.html#excluding-certain-jobs
.only-default: &only-default
  only:
    - master
    - merge_requests
    - tags

# device documentation
wiki:
  stage: lint
  <<: *only-default
  only:
    refs:
      - merge_requests
    changes:
      - device/*/device-*/*
  script:
    - .ci/lib/gitlab_prepare_ci.sh
    - .ci/wiki.sh

# testcases linting
flake8:
  stage: lint
  <<: *only-default
  only:
    refs:
      - merge_requests
    changes:
      - .ci/*
      - .ci/*/*
  before_script:
    - apk -q add py-flake8
  script:
    - .ci/lib/gitlab_prepare_ci.sh
    - .ci/flake8.sh

# shellcheck and various grep checks
shellcheck-grep:
  stage: lint
  <<: *only-default
  image: alpine:edge
  script:
    - .ci/lib/gitlab_prepare_ci.sh
    - .ci/shellcheck.sh
    - .ci/grep.sh

editor-config:
  stage: lint
  <<: *only-default
  image: alpine:edge
  script:
    - .ci/lib/gitlab_prepare_ci.sh
    - .ci/ec.sh

# aports checks (generic)
pytest-commits:
  stage: lint
  <<: *only-default
  script:
    - .ci/lib/gitlab_prepare_ci.sh
    - .ci/pytest.sh
    - .ci/commits.sh
  artifacts:
    when: on_failure
    paths:
      - log.txt
      - log_testsuite_pmaports.txt
      - pmbootstrap.cfg
    expire_in: 1 week

# APKBUILD linting
aport-lint:
  stage: lint
  script:
    - .ci/lib/gitlab_prepare_ci.sh
    - .ci/apkbuild-lint.sh
  only:
    - merge_requests
  allow_failure: true

# kernel kconfig check
kernel-kconfig:
  stage: lint
  only:
    refs:
      - master
      - merge_requests
    changes:
      - device/*/linux-*/config-*
      - main/linux-*/config-*
  script:
    - .ci/lib/gitlab_prepare_ci.sh
    - .ci/kconfig.sh

# MR settings
# (Checks for "Allow commits from members who can merge to the target branch")
mr-settings:
  stage: lint
  only:
    - merge_requests
  before_script:
    - apk -q add python3
  script:
    - wget -q "https://gitlab.com/postmarketOS/ci-common/-/raw/master/check_mr_settings.py"
    - python3 ./check_mr_settings.py

# build changed aports
.build:
  stage: build
  <<: *only-default
  before_script:
    - .ci/lib/gitlab_prepare_ci.sh
  after_script:
    - cp -r /home/pmos/.local/var/pmbootstrap/packages/ packages/ || true
  artifacts:
    expire_in: 1 week
    paths:
      - packages/
  timeout: 10 h

build-x86_64:
  extends: .build
  script:
    - .ci/build-x86_64.sh

build-x86:
  extends: .build
  script:
    - .ci/build-x86.sh

build-aarch64:
  extends: .build
  script:
    - .ci/build-aarch64.sh

build-armv7:
  extends: .build
  script:
    - .ci/build-armv7.sh

build-armhf:
  extends: .build
  script:
    - .ci/build-armhf.sh

build-riscv64:
  extends: .build
  script:
    - .ci/build-riscv64.sh

device/main/linux-postmarketos-allwinner: Total reconfiguration of aarch64 configuration
  device/main/linux-postmarketos-allwinner/APKBUILD
  device/main/linux-postmarketos-allwinner/config-postmarketos-allwinner.aarch64
Due: kernel-kconfig

temp/libcamera: Add APKBUILD for libcamera v.0.0.2
  temp/libcamera/APKBUILD
Due: none

modem/q6voiced: fix permission issue
  modem/q6voiced/APKBUILD
  modem/q6voiced/q6voiced.initd
  modem/q6voiced/q6voiced.post-install
Due: none

purism-librem5: remove Bhushan as co-maintainer
  device/main/device-purism-librem5/APKBUILD
Due: wiki

community/purism-librem5: move from main
  device/community/device-purism-librem5/00-mesa.sh
  device/community/device-purism-librem5/0002-udev-cameras-use-correct-path-for-modprobe-on-Alpine.patch
  device/community/device-purism-librem5/70-librem5-xwayland-accel.sh
  device/community/device-purism-librem5/70-wifi-pm.rules
  device/community/device-purism-librem5/77-mm-broadmobi-port-types.rules
  device/community/device-purism-librem5/APKBUILD
  device/community/device-purism-librem5/device-purism-librem5-smartcard.post-install
  device/community/device-purism-librem5/device-purism-librem5.post-install
  device/community/device-purism-librem5/device-purism-librem5.post-upgrade
  device/community/device-purism-librem5/deviceinfo
  device/community/device-purism-librem5/flash_script.lst
  device/community/device-purism-librem5/l5-lockdown-support.initd
  device/community/device-purism-librem5/l5-ship-mode.initd
  device/community/device-purism-librem5/modprobe.d_rsi.conf
  device/community/device-purism-librem5/modules-load.d_librem5.conf
  device/community/device-purism-librem5/org.freedesktop.GeoClue2.service
  device/community/device-purism-librem5/pcscd-librem5-reader.conf
  device/community/device-purism-librem5/pcscd-librem5.initd
  device/community/device-purism-librem5/uboot-script.cmd
  device/community/device-purism-librem5/xorg.conf
  device/community/linux-purism-librem5/APKBUILD
  device/community/linux-purism-librem5/config-purism-librem5.aarch64
  device/community/linux-purism-librem5/linux-purism-librem5.post-upgrade
Due: wiki, kernel-kconfig

purism-librem5: add workaround for modem/xhci bus disappearing issue
  device/main/device-purism-librem5/70-l5-xhci-bus-recover.rules
  device/main/device-purism-librem5/APKBUILD
  device/main/device-purism-librem5/l5-xhci-reset
Due: wiki

starqltechn: automate dualbooting with u-boot
  .ci/shellcheck.sh
  device/testing/device-samsung-starqltechn/APKBUILD
  device/testing/device-samsung-starqltechn/android_boot_image.its
  device/testing/device-samsung-starqltechn/bootscript.sh
  device/testing/device-samsung-starqltechn/bootscript_android.sh
  device/testing/device-samsung-starqltechn/deviceinfo
  device/testing/device-samsung-starqltechn/find_image_and_boot.its
  device/testing/device-samsung-starqltechn/find_image_and_boot.sh
Due: wiki, flake8

wifi driver rtl8189es/rtl8189etv for allwinner
  main/rtl8189ES/0001-dts-add-dontbeevil-pinephone-devkit.patch
  main/rtl8189ES/0002-dts-add-pinetab-dev-old-display-panel.patch
  main/rtl8189ES/0003-dts-pinetab-add-missing-bma223-ohci1.patch
  main/rtl8189ES/0004-arm64-dts-allwinner-Add-bluetooth-node-to-the-PineTa.patch
  main/rtl8189ES/0005-dts-pinetab-make-audio-routing-consistent-with-pinep.patch
  main/rtl8189ES/0006-dts-pinephone-drop-modem-power-node.patch
  main/rtl8189ES/0007-drm-panel-simple-Add-Hannstar-TQTM070CB501.patch
  main/rtl8189ES/0008-ARM-dts-sun6i-Add-GoClever-Orion-70L-tablet.patch
  main/rtl8189ES/0009-drm-panel-simple-Add-Hannstar-HSD070IDW1-A.patch
  main/rtl8189ES/0010-ARM-dts-sun6i-Add-Lark-FreeMe-70.2S-tablet.patch
  main/rtl8189ES/0011-sunxi-mmc-h6-fix.patch
  main/rtl8189ES/0012-arm64-dts-allwinner-orangepi-3-fix-ethernet.patch
  main/rtl8189ES/APKBUILD
  main/rtl8189ES/config-postmarketos-allwinner.aarch64
  main/rtl8189ES/config-postmarketos-allwinner.armv7
Due: none

main/amlogic-usbdl: new aports (MR xxxx)
  main/amlogic-usbdl/APKBUILD
Due: none

testing/amlogic-usbdl-payload-s905x3: new aport (MR xxxx)
  device/testing/amlogic-usbdl-payload-s905x3/APKBUILD
Due: none

testing/amlogic-usbdl-payload-s905x2: new aport (MR xxxx)
  device/testing/amlogic-usbdl-payload-s905x2/APKBUILD
Due: none

testing/amlogic-usbdl-payload-s905-s905x-s905w: new aports (MR xxxx)
  device/testing/amlogic-usbdl-payload-s905-s905x-s905w/APKBUILD
Due: none

modem/msm-modem: support dual SIM activation
  modem/msm-modem/APKBUILD
  modem/msm-modem/msm-modem-uim-selection.initd
Due: none

linux-postmarketos-amlogic: add support for X96 Max Plus device (MR 4108)
  device/testing/linux-postmarketos-amlogic/0003-arm64-dts-meson-add-initial-device-trees-for-X96-MAX.patch
  device/testing/linux-postmarketos-amlogic/APKBUILD
  device/testing/linux-postmarketos-amlogic/config-postmarketos-amlogic.aarch64
Due: kernel-kconfig

testing/device-amediatech-x96-max-plus: new aport (MR 4108)
  device/testing/device-amediatech-x96-max-plus/APKBUILD
  device/testing/device-amediatech-x96-max-plus/asound.state
  device/testing/device-amediatech-x96-max-plus/deviceinfo
Due: wiki

device-librecomputer-lepotato: install UCM2 profiles
  device/testing/device-librecomputer-lepotato/APKBUILD
Due: wiki

device-librecomputer-lafrite: install UCM2 profiles
  device/testing/device-librecomputer-lafrite/APKBUILD
Due: wiki

firmware-brcm43752: upgrade to 84b8b00f57a9495c05190477c5895cd66f69b873
  device/main/firmware-brcm43752/APKBUILD
Due: none

device-purism-librem5: upgrade to 1.51
  device/main/device-purism-librem5/0002-pm-udev-Use-DEVPATH-instead-of-ID_PATH.patch
  device/main/device-purism-librem5/0003-fix-ship-mode-linux-6.3.patch
  device/main/device-purism-librem5/APKBUILD
  device/main/device-purism-librem5/l5-brcm-bt-enable.initd
  device/main/device-purism-librem5/udev/70-brcm-bluetooth.rules
  device/main/device-purism-librem5/udev/70-wifi-pm.rules
  device/main/device-purism-librem5/udev/77-mm-broadmobi-port-types.rules
Due: wiki

New device Realme GT 2(porsche)
  device/testing/device-realme-porsche/APKBUILD
  device/testing/device-realme-porsche/deviceinfo
  device/testing/device-realme-porsche/empty-realme-porsche.dts
  device/testing/firmware-realme-porsche/APKBUILD
  device/testing/firmware-realme-porsche/firmware.files
  device/testing/linux-realme-porsche/APKBUILD
  device/testing/linux-realme-porsche/config-realme-porsche.aarch64
Due: wiki, kernel-kconfig

device-asus-me176c: add option to use LTS kernel from Alpine
  device/community/device-asus-me176c/APKBUILD
Due: wiki

minetest: compile with touchscreen support
  temp/minetest/14075.patch
  temp/minetest/APKBUILD
  temp/minetest/minetest-server.confd
  temp/minetest/minetest-server.initd
  temp/minetest/minetest-server.pre-install
Due: none

linux-postmarketos-exynos7870: depend on postmarketos-installkernel
  device/testing/linux-postmarketos-exynos7870/APKBUILD
Due: none

linux-postmarketos-qcom-sm7150: depend on postmarketos-installkernel
  device/testing/linux-postmarketos-qcom-sm7150/APKBUILD
Due: none

CI: test installing of postmarketos-installkernel
  .ci/testcases/test_kernel.py
Due: flake8

device-lenovo-yoga-c630: new device
  device/testing/device-lenovo-yoga-c630/APKBUILD
  device/testing/device-lenovo-yoga-c630/deviceinfo
  device/testing/firmware-lenovo-yoga-c630/30-gpu-firmware.files
  device/testing/firmware-lenovo-yoga-c630/APKBUILD
  device/testing/firmware-lenovo-yoga-c630/firmware.files
Due: wiki

main/device-pine64-pinephone: update for new kconfig fragments-based kernel
  device/main/device-pine64-pinephone/50-dw_hdmi.rules
  device/main/device-pine64-pinephone/APKBUILD
  device/main/device-pine64-pinephone/deviceinfo
  device/main/device-pine64-pinephone/modules-initfs
Due: wiki

main/linux-postmarketos-allwinner: use kconfig fragments
  device/main/linux-postmarketos-allwinner/APKBUILD
  device/main/linux-postmarketos-allwinner/arm64_defconfig
  device/main/linux-postmarketos-allwinner/config-postmarketos-allwinner.aarch64
  device/main/linux-postmarketos-allwinner/config-postmarketos-allwinner.armv7
  device/main/linux-postmarketos-allwinner/kconfig-0001-keyboard-as-module.config
  device/main/linux-postmarketos-allwinner/kconfig-0002-mglru.config
  device/main/linux-postmarketos-allwinner/kconfig-0003-default-cpufreq-governor.config
  device/main/linux-postmarketos-allwinner/kconfig-0004-rcu-lazy.config
  device/main/linux-postmarketos-allwinner/kconfig-0005-fscache.config
  device/main/linux-postmarketos-allwinner/kconfig-0006-rtw88.config
  device/main/linux-postmarketos-allwinner/kconfig-0007-no-modem-power.config
Due: kernel-kconfig

c630: drop grub
  device/testing/device-lenovo-yoga-c630/APKBUILD
Due: wiki
